
<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Components</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#" >Kristal Components</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-staging-tab" data-toggle="pill" href="#pills-staging" role="tab" aria-controls="pills-staging" aria-selected="true">Staging</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-dev-tab" data-toggle="pill" href="#pills-dev" role="tab" aria-controls="pills-dev" aria-selected="false">Dev</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-prod-tab" data-toggle="pill" href="#pills-prod" role="tab" aria-controls="pills-prod" aria-selected="false">Prod</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-staging" role="tabpanel" aria-labelledby="pills-staging-tab">
  <main role="main">
            <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
            {% for key, values in urls.items %}
            {% if values.1 == 'staging' %}
          <div class="col-md-3">
              <div class="card mb-3 box-shadow">
              <div class="card-body">
            <a class="btn btn-link" href="{{ key }}" target="_blank" role="button">{{ values.0 }}</a>

              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
         </div>
    </main>

  </div>

  <div class="tab-pane" id="pills-dev" role="tabpanel" aria-labelledby="pills-dev-tab">
  <main role="main">
            <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
            {% for key, values in urls.items %}
            {% if values.1 == 'dev' %}
          <div class="col-md-3">
              <div class="card mb-3 box-shadow">
              <div class="card-body">
            <a class="btn btn-link" href="{{ key }}" target="_blank" role="button">{{ values.0 }}</a>

              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
         </div>
    </main>

  </div>

  <div class="tab-pane" id="pills-prod" role="tabpanel" aria-labelledby="pills-prod-tab">
  <main role="main">
            <div class="album py-5 bg-light">
      <div class="container">



        <div class="row">
            {% for key, values in urls.items %}
            {% if values.1 == 'prod' %}
          <div class="col-md-2">
            <div class="card mb-3 box-shadow">
              <div class="card-body">
            <a class="btn btn-link" href="{{ key }}" target="_blank" role="button">{{ values.0 }}</a>

               </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
         </div>
    </main>

  </div>


 </div>




  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>




